<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="RestPOS.Properties.Settings.RestPOSSQLConnectionString" connectionString="Data Source=localhost;Initial Catalog=RestPOS; User ID=sa;Password=password" providerName="System.Data.SqlClient"/>-->
		<add name="RestPOS.Properties.Settings.RestPOSSQLConnectionString" connectionString="Data Source=10.10.11.21;Initial Catalog=RestPOS; User ID=sa;Password=password" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
</configuration>
